{% extends 'options/demo.html' %}

{% block content %}

<section>
</section>

<div class="Dashboard">
  <header class="Dashboard-header">
    <ul class="FlexGrid">
      <li class="FlexGrid-item">
        <div class="Titles">
          <h1 class="Titles-main" id="view-name">Selecciona una Vista</h1>
        </div>
      </li>
      <li class="FlexGrid-item FlexGrid-item--fixed">
        <div id="active-users-container"></div>
      </li>
    </ul>
    <div id="view-selector-container"></div>
  </header>

  <div class="row">
    <ul class="col-md-6 FlexGrid">
      <li class="col-md-12 FlexGrid-item">
        <div id="dateRangeSelector-container-1"></div>
      </li>
      <li class="col-md-12 FlexGrid-item">
        <header class="Titles">
          <h1 class="Titles-main">Sesiones por País</h3>
        </header>
        <div id="country-container-1" style="min-height:300px"></div>
      </li>
      <li class="col-md-12 FlexGrid-item">
        <header class="Titles">
          <h1 class="Titles-main">Top Referidos</h3>
          <p class="Titles-sub"></p>
        </header>
        <div id="referral-container-1" style="min-height:300px"></div>
      </li>
    </ul>
    <ul class="col-md-6 FlexGrid">
      <li class="col-md-12 FlexGrid-item">
        <div id="dateRangeSelector-container-2"></div>
      </li>
      <li class="col-md-12 FlexGrid-item">
        <header class="Titles">
          <h1 class="Titles-main">Sesiones por País</h3>
        </header>
        <div id="country-container-2" style="min-height:300px"></div>
      </li>
      <li class="col-md-12 FlexGrid-item">
        <header class="Titles">
          <h1 class="Titles-main">Top Referidos</h3>
          <p class="Titles-sub"></p>
        </header>
        <div id="referral-container-2" style="min-height:300px"></div>
      </li>
    </ul>
  </div>
</div>

<section>
</section>

{% endblock %}

{% block foot_scripts %}
{% include 'options/dependencies/_comparisons-over-time.html' %}
{{ super() }}
<script>
{% include 'acquisition/code/_referrals.js' %}
</script>
{% endblock %}
