{% extends 'embed-api/demo.html' %}

{% block content %}
<section>
  <h2>Overview</h2>
</section>

<div class="Dashboard">
  <header class="Dashboard-header">
    <ul class="FlexGrid">
      <li class="FlexGrid-item">
        <div class="Titles">
          <h1 class="Titles-main" id="view-name">Selecciona una Vista</h1>
          <div class="Titles-sub">Varias visualizaciones</div>
        </div>
      </li>
      <li class="FlexGrid-item FlexGrid-item--fixed">
        <div id="active-users-container"></div>
      </li>
    </ul>
    <div id="view-selector-container"></div>
  </header>


  <ul class="FlexGrid FlexGrid--halves">
    <li class="FlexGrid-item">
      <div class="Chart">
        <header class="Titles">
          <h1 class="Titles-main">Sesiones por País</h1>
          <p class="Titles-sub">Últimos 30 días</p>
        </header>
        <figure class="Chartjs-figure" id="country-container"></figure>
      </div>
    </li>
    <li class="FlexGrid-item">
      <div class="Chart">
        <header class="Titles">
          <h1 class="Titles-main">Usuarios/Nuevos Usuarios</h1>
          <p class="Titles-sub">Últimos 30 días</p>
        </header>
        <figure class="Chartjs-figure" id="chart-6-container"></figure>
        <ol class="Chartjs-legend" id="legend-6-container"></ol>
      </div>
    </li>
  </ul>

  <ul class="FlexGrid FlexGrid--halves">
    <li class="FlexGrid-item">
      <div class="Chart">
        <header class="Titles">
          <h1 class="Titles-main">Sesiones por Navegador</h1>
          <p class="Titles-sub">Últimos 30 días</p>
        </header>
        <figure class="Chartjs-figure" id="sessions-browsers-chart-container"></figure>
      </div>
    </li>
    <li class="FlexGrid-item">
      <div class="Chart">
        <header class="Titles">
          <h1 class="Titles-main">Sesiones por Dispositivo</h1>
          <p class="Titles-sub">Últimos 30 días</p>
        </header>
        <figure class="Chartjs-figure" id="device-chart-container"></figure>
        <ol class="Chartjs-legend" id="device-chart-container"></ol>
      </div>
    </li>
  </ul>

  <ul class="FlexGrid FlexGrid--halves">
    <li class="FlexGrid-item">
      <div class="Chart">
        <header class="Titles">
          <h1 class="Titles-main">Top Landing Pages</h1>
          <p class="Titles-sub">Últimos 30 días</p>
        </header>
        <figure class="Chartjs-figure" id="top-landing-chart-container"></figure>
      </div>
    </li>
    <li class="FlexGrid-item">
      <div class="Chart">
        <header class="Titles">
          <h1 class="Titles-main">All Pages (Top Content)</h1>
          <p class="Titles-sub">Últimos 30 días</p>
        </header>
        <figure class="Chartjs-figure" id="all-pages-chart-container"></figure>
      </div>
    </li>
  </ul>

</div>
<section>

</section>
{% endblock %}

{% block foot_scripts %}
{% include 'embed-api/dependencies/_third-party-visualizations.html' %}
{{ super() }}
<script>
{% include 'embed-api/code/_basic-dashboard.js' %}
</script>
{% endblock %}
