{% extends 'embed-api/demo.html' %}

{% block content %}
<section>
  <h2>Overview</h2>
</section>

<div class="Dashboard">
  <div class="Chart">
    <header class="Titles">
      <h1 class="Titles-main">Sessions</h1>
      <p class="Titles-sub">Last 30 days</p>
    </header>
    <figure id="chart-container"></figure>
  </div>
  <div class="ViewSelector" id="view-selector-container"></div>
</div>

<section>

</section>
{% endblock %}

{% block foot_scripts %}
{{ super() }}
<script>
{% include 'embed-api/code/_basic-dashboard.js' %}
</script>
{% endblock %}
