{% extends 'embed-api/demo.html' %}

{% block content %}
<section>
  <h2>Overview</h2>
</section>

<div class="Dashboard Dashboard--full">
  <header class="Dashboard-header">
    <div class="Titles">
      <h1 class="Titles-main" id="view-name">Select a View</h1>
      <div class="Titles-sub">Comparing sessions from
        <b id="from-dates">last week</b>
        to <b id="to-dates">this week</b>
      </div>
    </div>
    <div id="view-selector-container"></div>
  </header>

  <ul class="FlexGrid">
    <li class="FlexGrid-item">
      <div id="data-chart-1-container"></div>
      <div id="date-range-selector-1-container"></div>

    </li>
    <li class="FlexGrid-item">
      <div id="data-chart-2-container"></div>
      <div id="date-range-selector-2-container"></div>
    </li>
  </ul>
</div>

<section>
</section>
{% endblock %}

{% block tech_content %}
  The {{ page.title }} demo uses the <code>DataChart</code> component of the <a href="{{ site.tech.embed_api.url }}">{{ site.tech.embed_api.name }}</a>, which queries the <a href="{{ site.tech.core_reporting_api.url }}">{{ site.tech.core_reporting_api.name }}</a> behind the scenes. It also uses a custom <code>ViewSelector2</code> component, which uses the <a href="{{ site.tech.management_api.url }}">{{ site.tech.management_api.name }}</a> to get a list of accounts the current user can access.
{% endblock %}

{% block foot_scripts %}
{% include'embed-api/dependencies/_custom-components.html' %}
{{ super() }}
<script>
{% include 'embed-api/code/_custom-components.js' %}
</script>
{% endblock %}
