{% extends 'embed-api/demo.html' %}

{% block content %}

<section>
  <h2>Overview</h2>
</section>

<div class="Dashboard Dashboard--full">
  <header class="Dashboard-header">
    <ul class="FlexGrid">
      <li class="FlexGrid-item">
        <div class="Titles">
          <h1 class="Titles-main" id="view-name">Selecciona una Vista</h1>
        </div>
      </li>
      <li class="FlexGrid-item FlexGrid-item--fixed">
        <div id="active-users-container"></div>
      </li>
    </ul>
    <div class="ViewSelector" id="view-selector-container"></div>
  </header>

  <ul class="FlexGrid">
    <li class="FlexGrid-item">
      <header class="Titles">
        <h1 class="Titles-main">Usuarios por País (últimos 30 días)</h3>
      </header>
      <div id="main-chart-container" style="min-height:300px"></div>
    </li>
  </ul>
  <ul class="FlexGrid">
    <li class="FlexGrid-item">
      <header class="Titles">
        <h1 class="Titles-main">Top Landing Page</h3>
        <p class="Titles-sub">Últimos 30 días</p>
      </header>
      <div id="landingpath-chart-container" style="min-height:300px"></div>
    </li>
    <li class="FlexGrid-item">
      <header class="Titles">
        <h1 class="Titles-main">Sesiones/Rebote</h3>
        <p class="Titles-sub">Últimos 30 días</p>
      </header>
      <figure class="Chartjs-figure" id="temp-landingpath-chart-container" style="min-height:300px"></figure>
      <ol class="Chartjs-legend" id="legend-6-container"></ol>
    </li>
  </ul>
  <ul class="FlexGrid">
    <li class="FlexGrid-item">
      <header class="Titles">
        <h1 class="Titles-main">Página de Inicio</h3>
        <p class="Titles-sub">Últimos 30 días</p>
      </header>
      <figure class="Chartjs-figure" id="inicialpage-chart-container" style="min-height:300px"></figure>
    </li>
  </ul>
</div>

<section>
</section>

{% endblock %}

{% block foot_scripts %}
{% include 'embed-api/dependencies/_third-party-visualizations.html' %}
{{ super() }}
<script>
{% include 'embed-api/code/_interactive-charts.js' %}
</script>
{% endblock %}
