{% extends 'server-auth.html' %}

{% block content %}
<section>
  <h2>Overview</h2>
</section>

<ul class="FlexGrid">
  <li class="FlexGrid-item">
    <div class="Dashboard Dashboard--full">
      <header class="Titles">
        <h3 class="Titles-main">Site Traffic</h3>
        <div class="Titles-sub">Sessions vs. Users - last 30 days</div>
      </header>
      <figure id="chart-1-container"></figure>
    </div>
  </li>
  <li class="FlexGrid-item">
    <div class="Dashboard Dashboard--full">
      <header class="Titles">
        <h3 class="Titles-main">Most Popular Demos/Tools</h3>
        <div class="Titles-sub">Pageviews - last 30 days</div>
      </header>
      <figure id="chart-2-container"></figure>
    </div>
  </li>
</ul>

<section>
</section>
{% endblock %}

{% block tech_content %}
  The {{ page.title }} demo uses the <code>DataChart</code> component of the <a href="{{ site.tech.embed_api.url }}">{{ site.tech.embed_api.name }}</a>, which queries the <a href="{{ site.tech.core_reporting_api.url }}">{{ site.tech.core_reporting_api.name }}</a> behind the scenes.
{% endblock %}
{% block foot_scripts %}
{{ super() }}
<script src="/public/javascript/embed-api.js"></script>
<script>
{% include 'embed-api/code/_server-side-authorization.js' %}
</script>
{% endblock %}
