{% extends 'options/demo.html' %}

{% block content %}

<section>
  <h2>Overview</h2>
</section>

<div class="Dashboard Dashboard--full">
  <header class="Dashboard-header">
    <ul class="FlexGrid">
      <li class="FlexGrid-item">
        <div class="Titles">
          <h1 class="Titles-main" id="view-name">Selecciona una Vista</h1>
        </div>
      </li>
    </ul>
    <div class="ViewSelector" id="view-selector-container"></div>
  </header>

  <ul class="FlexGrid">
    <li class="FlexGrid-item">
      <header class="Titles">
        <h1 class="Titles-main">Sesiones por País (últimos 30 días)</h3>
      </header>
      <div id="main-chart-container" style="min-height:300px"></div>
    </li>
  </ul>
  <ul class="FlexGrid">
    <li class="FlexGrid-item">
      <header class="Titles">
        <h1 class="Titles-main">Dispositivos</h3>
      </header>
      <div id="devices-chart-container" style="min-height:300px"></div>
    </li>
    <li class="FlexGrid-item">
      <header class="Titles">
        <h1 class="Titles-main">Género</h3>
      </header>
      <div id="gender-chart-container" style="min-height:300px"></div>
    </li>
    <li class="FlexGrid-item">
      <header class="Titles">
        <h1 class="Titles-main">Edad</h3>
      </header>
      <div id="age-chart-container" style="min-height:300px"></div>
    </li>
  </ul>
  <ul class="FlexGrid">
    <li class="FlexGrid-item">
      <header class="Titles">
        <h1 class="Titles-main">Público Objetivo</h3>
      </header>
      <div id="demographics-chart-container" style="min-height:300px"></div>
    </li>
  </ul>
</div>

<section>
</section>

{% endblock %}

{% block foot_scripts %}
{{ super() }}
<script>
{% include 'options/code/_demographics.js' %}
</script>
{% endblock %}
