{% extends 'options/demo.html' %}

{% block content %}

<section>
</section>

<ul class="FlexGrid">
  <li class="FlexGrid-item">
    <div class="Dashboard Dashboard--full">
      <header class="Titles">
        <h3 class="Titles-main">Top Countries by Sessions</h3>
        <div class="Titles-sub">Last 30 days</div>
      </header>
      <div id="chart-1-container"></div>
      <div class="ViewSelector" id="view-selector-1-container"></div>
    </div>
  </li>
  <li class="FlexGrid-item">
    <div class="Dashboard Dashboard--full">
      <header class="Titles">
        <h3 class="Titles-main">Top Countries by Sessions</h3>
        <div class="Titles-sub">Last 30 days</div>
      </header>
      <div id="chart-2-container"></div>
      <div class="ViewSelector" id="view-selector-2-container"></div>
    </div>
  </li>
</ul>

<section>
</section>

{% endblock %}

{% block foot_scripts %}
{{ super() }}
<script>
{% include 'options/code/_multiple-views.js' %}
</script>
{% endblock %}
