{% extends 'options/demo.html' %}

{% block content %}

<section>
</section>

<div class="Dashboard Dashboard--full">
  <header class="Dashboard-header">
    <ul class="FlexGrid">
      <li class="FlexGrid-item">
        <div class="Titles">
          <h1 class="Titles-main" id="view-name">Selecciona una Vista</h1>
          <div class="Titles-sub">Periodo de comparación:
            <b id="period">31 days ago - Yesterday</b>
          </div>
        </div>
      </li>
    </ul>
    <div id="view-selector-container"></div>
    <div id="date-range-selector-container" style="padding-top:20px;"></div>
  </header>

  <ul class="row FlexGrid">
    <li class="FlexGrid-item">
      <header class="Titles">
        <h1 class="Titles-main"style="padding-bottom:10px;">Páginas</h1>
      </header>
      <div id="page-container" style="min-height:300px"></div>
    </li>
  </ul>
  <ul class="row FlexGrid" style="padding-top:30px; display:none;" id="prev-next-ul">
    <li class="col-md-6 FlexGrid-item">
      <header class="Titles">
        <h1 class="Titles-main">Página Previa</h1>
        <p class="Titles-sub" id="previous"></p>
      </header>
      <div id="previous-container" style="min-height:300px"></div>
    </li>
    <li class="col-md-6 FlexGrid-item">
      <header class="Titles">
        <h1 class="Titles-main">Página Siguiente</h1>
        <p class="Titles-sub" id="next"></p>
      </header>
      <div id="next-container" style="min-height:300px"></div>
    </li>
  </ul>
</div>

<section>
</section>

{% endblock %}

{% block foot_scripts %}
{% include'options/dependencies/_custom-components.html' %}
{{ super() }}
<script>
{% include 'options/code/_navigation-summary.js' %}
</script>
{% endblock %}