{% extends 'server-auth.html' %}

{% block content %}
<section>
  <h2>Overview</h2>
</section>

<ul class="FlexGrid">
  <li class="FlexGrid-item">
    <div class="Dashboard Dashboard--full">
      <header class="Titles">
        <h3 class="Titles-main">Site Traffic</h3>
        <div class="Titles-sub">Sessions vs. Users - last 30 days</div>
      </header>
      <figure id="chart-1-container"></figure>
    </div>
  </li>
  <li class="FlexGrid-item">
    <div class="Dashboard Dashboard--full">
      <header class="Titles">
        <h3 class="Titles-main">Most Popular Demos/Tools</h3>
        <div class="Titles-sub">Pageviews - last 30 days</div>
      </header>
      <figure id="chart-2-container"></figure>
    </div>
  </li>
</ul>

<section>
</section>
{% endblock %}

{% block foot_scripts %}
{{ super() }}
<script src="/public/javascript/options.js"></script>
<script>
{% include 'options/code/_server-side-authorization.js' %}
</script>
{% endblock %}
