<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>{{ title }}{% if subtitle %} &mdash; {{ subtitle }}{% endif %} &mdash; {{ site.title }}</title>

<link href='//fonts.googleapis.com/css?family=Open+Sans:600,400,300' rel='stylesheet'>
<link href="/public/css/index.css" rel="stylesheet">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<meta name="viewport" content="width=device-width, initial-scale=1">

