{% extends 'user-auth.html' %}

{% block content %}

<section>
</section>

<div class="Box">
  <header class="Box-header">
    <div class="AccountExplorerSearch">
      <h3 class="AccountExplorerSearch-title">
        Busca la información de tu cuenta &hellip;
      </h3>
      <input class="AccountExplorerSearch-field FormField" id="search-box" placeholder="Escribe algo para buscar ...">
      <h3 class="AccountExplorerSearch-title">
        &hellip; o navega a través de todas tu cuentas
      </h3>
      <div id="view-selector-container"></div>
    </div>
  </header>
  <main class="AccountExplorerResults">
    <h3 class="AccountExplorerResults-title" id="results-title"></h3>
    <div id="results-container"></div>
  </main>
</div>

{% endblock %}

{% block foot_scripts %}
{{ super() }}
<script src="/public/javascript/options/components/view-selector2.js"></script>
<script src="/public/javascript/account-explorer.js"></script>
{% endblock %}
